.footer {
  margin-top: 40px;
  color: var(--colorTextSecondary);
  font-size: 14px;
  line-height: 20px;
}

.footerLine {
  width: 100%;
  margin-bottom: 23px;
  height: 1px;
  border: none;
  background-color: var(--colorBorder);
}

.footerHeader {
  font-weight: 700;
}

.footer a {
  color: var(--colorTextSecondary);
  text-decoration: none;
}

.footerText {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
